node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
__tests__
.github
.husky
*.md
!README.md
.eslintrc.js
.eslintignore
.babelrc
__fixtures__
jest.config.*
.vscode
.DS_Store
Thumbs.db
